.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/terminal-executor-*/**
terminal-executor-*.vsix
.vscodeignore
webpack.config.js
scripts/**
node_modules/**
CODE_OF_CONDUCT.md
**/*.bak
