# Output folders
out/**
temp/**
test/**

# Source files
src/**
tsconfig.json
webpack.config.js
webpack.test.config.js
.eslintrc.json

# Git files
.git/**
.github/**
.gitignore

# NodeJS files
node_modules/**
npm-debug.log
*.vsix

# Other development files
.vscode/**
.vscode-test/**
images/screenshots/**